html, body {
	display: flex;
	flex-direction: column;
	background: linear-gradient(90deg, rgba(87,59,180,1) 0%, rgba(121,68,179,1) 46%, rgba(146,73,175,1) 100%);
	font-family: 'Futura-CondensedMedium', Arial, sans-serif;
	line-height: 1.25em;
	height: 100%;
}
h1 {
	color: #509fd6;
	font-size: 56px;
	padding: 50px;
}
h2 {
	color: #509fd6;
	font-size: 18px;
}
p {
	color: #EEE;
	font-size: 22px;
	margin: 5px;
	padding: 5px;
}
img {
	border-radius: 20px;
	margin: 5px;
	padding: 5px;
}
a {
	color: #509fd6;
	text-decoration: none;
	margin: 5px;
	padding: 5px;
}
a:hover {
	color: #F7931A;
	transition: all 150ms ease-in-out;
}
button {
	border: 3px solid;
	border-color: #EEE;
	border-radius: 20px;
	background-color: transparent;
	color: #EEE;
	font-size: 24px;
	font-weight: 500;
	width: 500px;	
	height: 50px;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
ul {
	color: #eee;
	font-size: 20px;
	margin: 5px;
	padding: 5px;
}
.a-white {
	color: #EEE;
	text-decoration: none;
	margin: 5px;
	padding: 5px;
}
.a-white:hover {
	color: #509fd6;
	transition: color 150ms ease-in-out;
}
.buy-button {
	border: 3px solid;
	border-radius: 20px;
	background-color: #EEE;
	color: #509fd6;
	font-size: 24px;
	font-weight: 500;
	width: 500px;	
	height: 50px;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.container-no-margin {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.container-left {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: start;
	text-align: start;
	align-items: start;
	align-self: start;
}
.row-container { 
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.text-orange {
	color: #F7931A;
	margin: 0;
	padding: 0;
}
.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 3%;
	text-align: center;
}
.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
}
.header-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
/* Hide the mobile image by default */
.mobile-image {
	display: none;
}
.mobile-row-container {
	display: none;
}
/* Show the mobile image on screens with a maximum width of 767px */
@media only screen and (max-width: 600px) {
	.mobile-image {
		display: block;
		border-radius: 20px;
		margin: 5px;
		padding: 5px;
		height: 150px;
		width: 150px;
	}
	.mobile-row-container {
		display: flex;
		flex-direction: space-between;
		justify-content: center;
	}
	.desktop-image {
		display: none;
	}
}

	/* Show the desktop image on screens with a minimum width of 768px */
@media only screen and (min-width: 601px) {
	.desktop-image {
		display: block;
		border-radius: 20px;
		margin: 10px;
		padding: 10px;
	}
	.mobile-image {
		display: none;
	}
}

@media(max-width: 600px) {
	body {
		line-height: 1.25em;
		background: linear-gradient(180deg, rgba(87,59,180,1) 0%, rgba(121,68,179,1) 46%, rgba(146,73,175,1) 100%);
	}
	h1 {
		font-size: 22px;
	}
	p {
		font-size: 20px;
		text-align: center;
		margin: 5px;
		padding: 5px;
	}
	img {
		height: 75px;
		width: 500px; 
		padding: 5px;
		margin: 5px;
	}
	.container {
		margin: 0%;
		justify-content: center;
		text-align: center;
	}
	.header-container {
		margin-bottom: 10px;
		justify-content: center;
	}
	.footer {
		display: none; 
	}
	.row-container {
		justify-content: center;
	}
}
